body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background: linear-gradient(to top left, rgb(131, 131, 131), rgb(0, 0, 0));
    background-repeat: cover;
    color: white;
  }
  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  input {
    margin-bottom: 5vh;
    border-right: none;
    border-top: none;
    border-left: none;
    background-color:transparent;
    outline: none;
    color: white;
    caret-color: white;
    font-size: 1.25em;
    font-family: 'Cardo', serif;
  }
  input[type=button] {
    background: rgba(255,255,255,.2);
    width: 100%;
    padding: 2vh;
    border: none;
    cursor: pointer;
    border-radius: 4px 4px;
  }
 button {
    background: rgba(255,255,255,.2);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    color: white;
  }